@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
.bigTitre{
    font-family: 'Noto Serif', serif;
    color:red;
}

.site{
    min-height: 100vh;
    margin-bottom: -40px;
}
footer, .minSite{
    height: 40px;
}